.container.mx-auto
	.jumbotron.mb-0.mt-5.rounded-0
		div.d-flex.justify-content-between
			h2 설문조사 관리자
			ul.d-flex
				li.mr-2=loginUser.id + '님 안녕하세요.'
				li
					a.text-primary(href="/logout") 로그아웃
	ul.d-flex.bg-light.p-3.justify-content-between.align-items-center
		li.pt-2
			ul.breadcrumb.bg-light.border.border-danger
				li.breadcrumb-item 설문지 목록
		li
			button.btn.btn-primary(style="width: 200px;") + 설문지추가